.menu {
    background-color: green;
    overflow: auto;
    white-space: nowrap;
  }
  
  .menu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .menu a:hover {
    background-color: #777;
  }